/***********************

Site wide stylings

************************/

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  flex: 1;
  width: 85%;
  max-width: 70em;
  margin: 0 auto;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

h5.clickable:hover{
  color: #ffb400;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid #eee;
  padding: 2em;
  max-width: 500px;
  width: 100%;
  margin: 3em auto;
}

label {
  width: 80%;
  display: block;
  margin: 0.5em 0;
  color: #999999;
}

label:last-of-type {
  margin-bottom: 3em;
}

#orders_to_display label {
  margin: 0.5em 0;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  color: #555;
}

form button::placeholder {
  color: #ddd;
}

form button {
  display: block;
  border: 1px solid #777;
  background-color: #cceeff;
  font-size: 0.9rem;
  padding: 0rem 0.8em;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: black;
  border-radius: 5px;
  width: 200px;
  margin: 0 auto;
}

form button:hover, form button:focus {
  opacity: 0.75;
  cursor: pointer;
}

form button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

/*form {
  width: 30em;
  padding: 0.5em;
  margin: 1em auto;
  border: 1px solid #ccc;
  background: deepskyblue;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: width 0.25s;
}

form div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form label {
  margin: 0.25em 0;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

form input, form textarea, form select {
  width: 65%;
  background: #eee;
}

form input[type="checkbox"] {
  align-self: center;
  width: 17em;
}

form button {
  margin: 1.5em 0;
  border-radius: 3px;
  background: #eee;
  transition: background 0.065s;
}

form button:hover {
  background: #ccc;
}*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background: deepskyblue;
  height: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: height 0.125s;
}

header img {
  max-height: 90%;
}

h2 {
  font-size: 2.0em;
}

p {
  font-size: 1em;
  padding: 1em 0;
}

nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

nav, nav a {
  padding: 0 1em;
  color: #fff;
  transition: font-size 0.125s;
}

nav a:hover {
  color: #B1ECFF;
  cursor: pointer;
}

footer {
  width: 100%;
  background: deepskyblue;
  color: #fff;
  height: 5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

footer nav {
  height: 1.25em;
}

footer p, footer a {
  font-size: 0.75em;
  margin: 0;
  padding: 0.5em;
}

.clearfix::after { /*Clearfix*/
  content: "";
  display: table;
  clear: both;
}
/**********************

Home landing page styling

***********************/

.divider {
  margin: 4em 0;
}

.featurette:first-of-type {
  margin-top: 4em;
}

.featurette:last-of-type {
  margin-bottom: 4em;
}

.featurette {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.featurette * {
  transition: font-size 0.125s;
}

.featurette-image {
  width: 20em;
  height: 20em;
  border-radius: 20em;
  flex: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: visible;
}

.featurette-image.pull-right {
  order: 1;
  margin-left: 4em;
  box-shadow: -2px 0 2px #aaa;
}

.featurette-image.pull-left {
  order: -1;
  margin-right: 4em;
  box-shadow: 2px 0 2px #aaa;
}

.featurette-text h5 span {
  color: deepskyblue;
}

#goal .featurette-image {
  background-image: url("../img/stent.jpg");
}

#role .featurette-image {
  background-image: url("../img/lecturing.jpg")
}

#together .featurette-image {
  background-image: url("../img/lecturing2.jpg");
}

/*********************

training page

*********************/

.gallery {
  margin: 4em 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.gallery img {
  width: calc(100%/3 - 1em);
  margin: 0.5em;
  box-shadow: 3px 3px 4px #aaa;
}

.gallery iframe {
  margin-top: 1em;
}

#training .featurette-image {
  background-image: url("../img/hiossen_class1.jpg");
}

  #hiossen_class .gallery-image:nth-of-type(1) {
    background-image: url("../img/hiossen_class2.jpg");
  }

  #hiossen_class .gallery-image:nth-of-type(2) {
    background-image: url("../img/hiossen_class3.jpg");
  }

  #hiossen_class .gallery-image:nth-of-type(3) {
    background-image: url("../img/hiossen_class4.jpg");
  }

  #hiossen_class .gallery-image:nth-of-type(4) {
    background-image: url("../img/hiossen_class5.jpg");
  }

#community .featurette-image {
  background-image: url("../img/special_needs1.jpg");
}

  #special_needs .gallery-image:nth-of-type(1) {
    background-image: url("../img/special_needs2.jpg");
  }

  #special_needs .gallery-image:nth-of-type(2) {
    background-image: url("../img/special_needs3.jpg");
  }

  #special_needs .gallery-image:nth-of-type(3) {
    background-image: url("../img/special_needs4.jpg");
  }

  #conference_list {
    display: flex;
    flex-flow: row wrap;
  }

  #conference_list > h5 {
    width: 100%;
  }

  .conference {
    width: calc(100%/4);
    margin-top: 1.5em;
  }

  @media (max-width:1100px) {
    .conference {
      width: calc(100%/3);
      margin-top: 0.75em;
    }
  }

  @media (max-width:800px) {
    .conference {
      width: calc(100%/2);
    }
  }

  @media (max-width:550px) {
    #conference_list {
      flex-flow: column;
      align-items: center;
    }
  }

  /*********************

  newsletter page

  *********************/

#newsletter-header .images, #newsletter-header .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

#newsletter-header .links a {
  color: blue;
}

#newsletter-header .links a:hover {
  color: #be5e26;
}

#newsletter-header .images img {
  max-width: 350px;
}

.newsletter .section:first-of-type {
  margin-top: 3em;
}

.newsletter .section > .heading {
  padding: 0.25em 0.5em;
  background: #ddd;
  font-weight: bold;
}

.newsletter .article:first-of-type {
  padding-top: 1em;
}

.newsletter .article .heading:first-of-type {
  font-weight: bold;
  color: #555;
  font-size: 1.125em;
}

.newsletter .article a {
  color: blue;
}

.newsletter .article a:hover {
  color: #be5e26;
}

/*********************

lab page

*********************/

#vision .featurette-image {
  background-image: url("../img/stent_guide.jpg");
}

#lab_slips {
  margin: 4em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#lab_slips div {
  display: flex;
  flex-flow: row;
}

#lab_slips iframe {
  width: 40vw;
  height: 60vw;
  margin: 3em 1em;
}

#products {
  margin: 2em 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.product {
  width: calc(100%/3 - 1em);
  margin: 0.5em;
  flex-flow: column nowrap;
  align-items: center;
}

.product img {
  display: block;
  box-shadow: 3px 3px 4px #aaa;
}

.product h3 {
  width: 80%;
  margin: 0.5em auto;
  text-align: center;
}

/*********************

contact page

*********************/

#contact_page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#contact_page h2 {
  padding: 1em 0;
}

#contact_page > * {
  margin: 2em auto;
}

#contact_info {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#contact_info div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#contact_info div * {
  padding: 0.5em;
}

/*********************

orders page

*********************/

#orders_to_display {
  width: 100%;
  margin: 2em auto 0 auto;
  padding: 0.25em;
  border: 1px solid #555;
  border-radius: 3px;
}

#orders_to_display div {
  margin: 0.25em 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

table {
  padding: 2em 0;
}

table, table thead, table tr {
  width: 100%;
}

table thead, table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table td, table th {
  flex: 1;
  text-align: center;
}

table thead {
  margin: 0.25em 0;
}

table tr, caption {
  padding: 0.25em 0;
  border: 1px solid #eee;
}

table td {
  border-right: 1px solid #eee;
}

table img {
  height: auto;
  width: 7.5em;
}

/*******************

Order Show page

********************/

#submit_payment {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.order_list button {
  padding: 0 5px;
}

@media (max-width:1200px) {

  header {
    height: 3.5em;
  }

  nav a {
    padding: 0 0.5em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.35em;
  }

  h3 {
    font-size: 1.1em;
  }

  .divider {
    margin: 2em 0;
  }

  .featurette-image.pull-left {
    margin-right: 2em;
  }

  .featurette-image.pull-right {
    margin-left: 2em;
  }

}

@media (max-width:1000px) {

  header {
    height: 6.5em;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  header img {
    max-height: 70%;
  }

  .divider {
    margin: 1.5em 0;
  }

  .featurette-image {
    width: 15em;
    height: 15em;
    border-radius: 15em;
  }

  .gallery-image {
    max-width: 15em;
    max-height: 15em;
  }

  .product, .gallery img {
    width: calc(100%/2 - 1em);
  }

  .featurette-image.pull-left {
    margin: 0 1em 0 0;
  }

  .featurette-image.pull-right {
    margin: 0 0 0 1em;
    order: 1;
  }

  .featurette-text p {
    font-size: 0.8em;
    line-height: 1.25em;
    padding: 0.5em 0;
  }

  #lab_slips div {
    flex-flow: column;
  }

  #lab_slips iframe {
    width: 80vw;
    height: 120vw;
    margin: 0.5em 0;
  }

}

@media (max-width:750px) {

  main {
    padding: 0 1em;
  }

  form {
    width: 22.5em;
    padding: 0.5em;
  }

  form label {
    width: 90%;
    flex-flow: column;
    align-items: center;
  }

  form input, form textarea, form select {
    width: 100%;
    margin: 0.25em auto;
  }

  form input[type="checkbox"] {
    width: 1em;
  }

  form button {
    margin: 1.5em 0;
  }

  .featurette {
    overflow: hidden;
    flex-flow: column nowrap;
    align-items: center;
  }

  .divider {
    margin: 1.25em 0;
  }

  .featurette-image {
    max-width: 15em;
    width: 60vw;
    max-height: 15em;
    height: 60vw;
    border-radius: 60vw;
  }

  .gallery-image {
    margin: 1.0em;
    max-width: 60vw;
    max-height: 60vw;
  }

  .featurette-image.pull-right, .featurette-image.pull-left{
    order: -1;
    margin: 0 0 1em 0;
  }

  .featurette-text {
    text-align: center;
  }

}

@media (max-width:550px) {

  header a {
    font-size: 0.85em;
  }

  form {
    width: 17.5em;
    padding: 0.5em;
  }

  footer p, footer a {
    font-size: 0.5em;
  }

  .product, .gallery img {
    width: calc(100%);
  }
}

@media (max-width:374px) {

  header img {
    width: 80vw;
    text-align: center;
  }

  header {
    height: 10em;
  }

  nav {
    padding: 1em 0;
    flex-flow: column nowrap;
    align-items: center;
  }

  form {
    width: 12.5em;
    padding: 0.5em;
  }

  .featurette-image {
    width: 10em;
    height: 10em;
    border-radius: 10em;
  }

  .gallery-image {
    margin: 0.75em;
    max-width: 10em;
    max-height: 10em;
  }

}
