* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  padding: 1em;
}

h2 {
  margin: 0.5em 0;
}

header {
  width: 100%;
  background: lightblue;
  height: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 0 1em;
}

main {
  flex: 1;
  width: 80vw;
  margin: 0 auto;
  padding: 2.5em 0;
}

footer {
  width: 100%;
  background: lightblue;
  height: 2.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.75em;
}

form {
  width: 30em;
  padding: 0.5em;
  margin: 1em auto;
  border: 1px solid #ccc;
  background: lightblue;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form label {
  margin: 0.25em 0;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

form input, form textarea {
  width: 70%;
  background: #eee;
}

form button {
  margin: 0.5em 0;
}

form a {
  margin-top: 2.5em; 
}
