/***********************

Site wide stylings

************************/

* {
  box-sizing: border-box;
  margin: 0;
}


body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  min-width: 15em;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
}

form {
  width: 30em;
  padding: 0.5em;
  margin: 1em auto;
  border: 1px solid #ccc;
  background: lightskyblue;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form label {
  margin: 0.25em 0;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

form input, form textarea {
  width: 70%;
  background: #eee;
}

form button {
  margin: 0.5em 0;
}

form a {
  margin-top: 2.5em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background: lightskyblue;
  height: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: height 0.125s;
}

nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

header h1, nav, nav a {
  padding: 0 1em;
  transition: font-size 0.125s;
}

footer {
  width: 100%;
  background: lightskyblue;
  height: 2.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.75em;
}

/**********************

Home landing page styling

***********************/

main {
  flex: 1;
  padding: 0 2.5em;
}

.divider {
  margin: 3em 0;
}

.featurette {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.featurette * {
  transition: font-size 0.125s;
}

.featurette-image {
  width: 25em;
  height: 25em;
  border-radius: 25em;
  flex: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featurette-image.pull-right {
  order: 1;
  margin-left: 4em;
}

.featurette-image.pull-left {
  order: -1;
  margin-right: 4em;
}

#goal .featurette-image {
  background-image: url("../img/stent.jpg");
}

#role .featurette-image {
  background-image: url("../img/lecturing.jpg")
}

/*#together .featurette-image {
  background-image: url();
}*/

#vision .featurette-image {
  background-image: url("../img/stent_guide.jpg");
}

.featurette-text h2 {
  font-size: 2.5em;
}

.featurette-text p {
  font-size: 1em;
  padding: 1em 0;
}

.featurette-text h2 span {
  color: deepskyblue;
}


@media(max-width:1024px) {

  .divider {
    margin: 2em 0;
  }

  .featurette-image {
    width: 20em;
    height: 20em;
    border-radius: 20em;
  }

  .featurette-image.pull-left {
    margin-right: 2em;
  }

  .featurette-image.pull-right {
    margin-left: 2em;
  }

  .featurette-text h2 {
    font-size: 1.75em;
  }

}

@media(max-width:950px) {

  header {
    height: 6em;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  header h1 {
    font-size: 1.75em;
    padding-top: 0.5em;
  }

  .divider {
    margin: 1.5em 0;
  }

  .featurette-image {
    width: 15em;
    height: 15em;
    border-radius: 15em;
  }

  .featurette-image.pull-left {
    margin: 0 1em 0 0;
  }

  .featurette-image.pull-right {
    margin: 0 0 0 1em;
    order: 1;
  }

  .featurette-text h2 {
    font-size: 1.3em;
  }

  .featurette-text p {
    font-size: 0.8em;
    line-height: 1.25em;
    padding: 0.5em 0;
  }

}

@media(max-width:650px) {

  header h1 {
    font-size: 1.5em;
  }

  main {
    padding: 0 1em;
  }

  .featurette {
    overflow: hidden;
    flex-flow: column nowrap;
    align-items: center;
  }

  .divider {
    margin: 1.25em 0;
  }

  .featurette-image {
    max-width: 15em;
    width: 60vw;
    max-height: 15em;
    height: 60vw;
    border-radius: 60vw;
  }

  .featurette-image.pull-right, .featurette-image.pull-left{
    order: -1;
    margin: 0 0 1em 0;
  }

  .featurette-text {
    text-align: center;
  }
}

@media(max-width:450px) {

  header h1 {
    font-size: 1.25em;
  }

  header a {
    font-size: 0.85em;
  }

  .featurette-text h2 {
    font-size: 1.0em;
  }

  .featurette-text p {
    font-size: 0.75em;
    line-height: 1.4em;
    padding: 0.5em 0;
    font-weight: bold;
  }

  footer p {
    font-size: 0.5em;
  }
}

@media(max-width:374px) {

  header {
    height: 10em;
  }

  header h1 {
    width: 10em;
    text-align: center;
  }

  .featurette-image {
    width: 10em;
    height: 10em;
    border-radius: 10em;
  }

  nav {
    padding: 1em 0;
    flex-flow: column nowrap;
    align-items: center;
  }

}
