<div ng-controller="AuthController as auth">

  <form ng-submit="auth.login()">
    <label>Email
      <input type="text" name="email" ng-model="auth.email" oninvalid="this.setCustomValidity('Please enter your email or click signup below')"
      oninput="setCustomValidity('')" required>
    </label>

    <label>Password
      <input type="password" name="password" ng-model="auth.password" oninvalid="this.setCustomValidity('Password cannot be left blank')"
      oninput="setCustomValidity('')" required>
    </label>

    <button type="submit" name="button">Login</button>
  </form>

  <h6 style="color:red; text-align: center">{{auth.flash}}</h6>

</div>
