<div ng-controller="AuthController as auth">

  <h3 ng-hide="home.currentUser">Hello, please sign in below to view orders</h3>
  <a ng-hide="home.currentUser" ui-sref="login">Login</a>
  <h3 ng-show="home.currentUser" ui-sref="orders" class="clickable">Back to orders</h3>

  <form ng-submit="auth.signup(dentist)" ng-show="home.currentUser.admin">
    <label>Name
      <input type="text" ng-model="dentist.name" required>
    </label>

    <label>Email
      <input type="email" ng-model="dentist.email" required>
    </label>

    <label>Phone
      <input type="text" ng-model="dentist.phone">
    </label>

    <label>Office Name
      <input type="text" ng-model="dentist.office_name">
    </label>

    <label>Office Address
      <input type="text" ng-model="dentist.address" required>
    </label>

    <label>Address State
      <input type="text" ng-model="dentist.address_state" required>
    </label>

    <label>Address City
      <input type="text" ng-model="dentist.address_city" required>
    </label>

    <label>Address Zip
      <input type="text" ng-model="dentist.address_zip" required>
    </label>

    <label>License Number
      <input type="text" ng-model="dentist.license_num">
    </label>

    <label>Notes
      <textarea rows="8" cols="36" ng-model="dentist.notes"></textarea>
    </label>

    <button type="submit" name="button">Signup New Dentist</button>
  </form>

  <h4 style="color:red; text-align: center">{{auth.flash}}</h4>

</div>
