<div ng-controller="OrderController as orders">

  <h3>{{home.currentUser ? 'Orders for ' + home.currentUser.name : 'Hello, please sign in below to view orders'}}</h3>
  <a ng-hide="home.currentUser" ui-sref="login">Login</a>

  <label ng-show="home.currentUser">Search Orders:
    <input type="search" ng-model="searchBox">
  </label>

  <table ng-show="home.currentUser" class="order_list">
    <thead>
      <th>Patient</th>
      <th>Items</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <tr class="order" ng-repeat='order in all_orders | orderBy: ["created_at"] | filter: searchBox'>
        <td>{{order.patient_name}}</td>
        <td>{{order.count}}</td>
        <td>{{order.total | currency}}</td>
        <td>{{order.order_status.name}}</td>
        <td ng-click="orders.get_order(order)" class="clickable">View Order</td>
        <br>
      </tr>
    </tbody>
  </table>


  <div ng-controller="DentistController as dentists">
    <form ng-submit="dentists.update( home.currentUser.dentist_id)" ng-show="home.currentUser" id="dentist_update">
      <h3>Update Dentist Profile</h3>
      <br><br>

      <label>Name
        <input type="text" ng-model="dentists.all_dentists.name" required>
      </label>

      <label>Email
        <input type="email" ng-model="dentists.all_dentists.email" required>
      </label>

      <label>Phone
        <input type="text" ng-model="dentists.all_dentists.phone" required>
      </label>

      <label>Office Name
        <input type="text" ng-model="dentists.all_dentists.office_name" required>
      </label>

      <label>Office Address
        <input type="text" ng-model="dentists.all_dentists.address" required>
      </label>

      <label>Address State
        <input type="text" ng-model="dentists.all_dentists.address_state"required>
      </label>

      <label>Address City
        <input type="text" ng-model="dentists.all_dentists.address_city" required>
      </label>

      <label>Address Zip
        <input type="text" ng-model="dentists.all_dentists.address_zip" required>
      </label>

      <label>License Number
        <input type="text" ng-model="dentists.all_dentists.license_num" required>
      </label>

      <button type="submit" name="button">Edit Profile Details</button>
    </form>
  </div>

  

</div>
