<div ng-controller="OrderController as orders">

  <div ng-show="currentUser">

    <h5>All Orders</h5>

    <!-- Filter orders by what is typed in search box, works for any parameter - ie patient name, doctor -->
    <label>Search Orders:
      <input type="search" ng-model="searchBox"></label>

    <!-- Table showing details of all orders made by dentist who is logged in -->
    <table class="order_list">
      <thead>
        <tr>
          <th>Patient</th>
          <th>Items</th>
          <th>Total</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="order" ng-repeat='order in all_orders | orderBy: ["created_at"] | filter: searchBox'>
          <td>{{order.patient_name}}</td>
          <td>{{order.count}}</td>
          <td>{{order.total | currency}}</td>
          <td>{{order.order_status.name}}</td>
          <td ng-click="orders.get_order(order)" class="clickable">View Order</td>
          <br>
        </tr>
      </tbody>
    </table>

    <!-- Profile details update form -->
    <div ng-controller="DentistController as dentists">

      <h5 ng-click="edit_acct=!edit_acct" style="text-align:center" class="clickable">Edit Account</h5>
      <form ng-submit="dentists.update( home.currentUser.dentist_id)"  id="dentist_update" ng-show="edit_acct">

          <label>Name
            <input type="text" ng-model="dentists.all_dentists.name" required>
          </label>

          <label>Email
            <input type="email" ng-model="dentists.all_dentists.email" required>
          </label>

          <label>Phone
            <input type="text" ng-model="dentists.all_dentists.phone">
          </label>

          <label>Office Name
            <input type="text" ng-model="dentists.all_dentists.office_name">
          </label>

          <label>Office Address
            <input type="text" ng-model="dentists.all_dentists.address" required>
          </label>

          <label>Address State
            <input type="text" ng-model="dentists.all_dentists.address_state"required>
          </label>

          <label>Address City
            <input type="text" ng-model="dentists.all_dentists.address_city" required>
          </label>

          <label>Address Zip
            <input type="text" ng-model="dentists.all_dentists.address_zip" required>
          </label>

          <label>License Number
            <input type="text" ng-model="dentists.all_dentists.license_num">
          </label>

          <button type="submit" name="button">Update Details</button>
      </form>

      <h5 style="color:red; text-align: center">{{flash}}</h5>
    </div>

    <!-- Password change form -->
    <div ng-controller="AuthController as auth">

      <h5 ng-click="new_pass=!new_pass" style="text-align:center" class="clickable">New Password</h5>
      <form ng-submit="auth.update( home.currentUser.id)"  id="user_update" ng-show="new_pass">

          <label>New Password
            <input type="password" ng-model="auth.password" required>
          </label>

          <label>Confirm Pass
            <input type="password" ng-model="auth.password2" required>
          </label>

          <button type="submit" name="button">Update Pass</button>

      </form>

      <h5 style="color:red; text-align: center">{{auth.flash}}</h5>
    </div>

  </div>

</div>
