<div ng-controller="OrderController as orders">

  <h3>{{home.currentUser ? 'Orders for ' + home.currentUser.name : 'Hello, please sign in below to view orders'}}</h3>
  <a ng-hide="home.currentUser" ui-sref="login">Login</a>

  <label ng-show="home.currentUser">Search Orders:
    <input type="search" ng-model="searchBox">
  </label>

  <table ng-show="home.currentUser" class="order_list">
    <thead>
      <th>Patient</th>
      <th>Items</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <tr class="order" ng-repeat='order in all_orders | orderBy: ["created_at"] | filter: searchBox'>
        <td>{{order.patient_name}}</td>
        <td>{{order.count}}</td>
        <td>{{order.total | currency}}</td>
        <td>{{order.order_status.name}}</td>
        <td ng-click="orders.get_order(order)" class="clickable">View Order</td>
        <br>
      </tr>
    </tbody>
  </table>


  <div ng-controller="DentistController as dentists">
    <form ng-submit="dentists.update( home.currentUser.dentist_id)" ng-show="home.currentUser" id="dentist_update">
      <label>Update Dentist Profile<input type="checkbox" ng-model="dentist_edit"></label>

      <br>

      <div ng-show="dentist_edit">

        <label>Name
          <input type="text" ng-model="dentists.all_dentists.name" required>
        </label>

        <label>Email
          <input type="email" ng-model="dentists.all_dentists.email" required>
        </label>

        <label>Phone
          <input type="text" ng-model="dentists.all_dentists.phone">
        </label>

        <label>Office Name
          <input type="text" ng-model="dentists.all_dentists.office_name">
        </label>

        <label>Office Address
          <input type="text" ng-model="dentists.all_dentists.address" required>
        </label>

        <label>Address State
          <input type="text" ng-model="dentists.all_dentists.address_state"required>
        </label>

        <label>Address City
          <input type="text" ng-model="dentists.all_dentists.address_city" required>
        </label>

        <label>Address Zip
          <input type="text" ng-model="dentists.all_dentists.address_zip" required>
        </label>

        <label>License Number
          <input type="text" ng-model="dentists.all_dentists.license_num">
        </label>

        <label>Notes
          <textarea rows="8" cols="36" ng-model="dentists.all_dentists.notes"></textarea>
        </label>

        <button type="submit" name="button">Edit Profile Details</button>
      </div>
    </form>

    <h4 style="color:red; text-align: center">{{flash}}</h4>
  </div>

  <div ng-controller="AuthController as auth">
    <form ng-submit="auth.update( home.currentUser.id)" ng-show="home.currentUser" id="user_update">
      <label>Update Login Details<input type="checkbox" ng-model="user_edit"></label>
      <br>

      <div ng-show="user_edit">

        <label>Username
          <input type="text" ng-init="auth.username = home.currentUser.username" ng-model="auth.username" required>
        </label>

        <label>New Password
          <input type="password" ng-model="auth.password" required>
        </label>

        <label>Confirm Pass
          <input type="password" ng-model="auth.password2" required>
        </label>

        <button type="submit" name="button">Edit Login Details</button>
      </div>

    </form>

    <h4 style="color:red; text-align: center">{{auth.flash}}</h4>
  </div>

</div>
