
<div class="featurette" id="vision">
  <div class="featurette-text">
    <h2>Our Vision: <br><span>Simplicity and Affordability</span></h2>
    <p>We are creating a new technique for the creation of dental implant stent guides. Our technique will make this complicated procedure both faster and far simpler than before. We are excited to offer this service in one location with our current dental offices for a price far lower than what is currently available.</p>
  </div>

  <div class="featurette-image pull-right"></div>
</div>

<hr class="divider">

<div class="featurette" id="experience">
  <div class="featurette-text">
    <h2>Our Background</h2>
    <p>We have the background and experience to know just what problems you will run into on these procedures. Unlike most labs, we have done these procedures ourselves and are here to support you every step of the way. Check out some images below of cases we've overcome with ProperGuide.</p>
  </div>
</div>

<div class="gallery">
  <img ng-src="../img/case1.jpg" class="gallery-image"></img>
  <img ng-src="../img/case2.jpg" class="gallery-image"></img>
  <img ng-src="../img/case3.jpg" class="gallery-image"></img>
  <img ng-src="../img/advancedcase1.jpg" class="gallery-image"></img>
  <img ng-src="../img/advancedcase2.png" class="gallery-image"></img>
  <img ng-src="../img/advancedcase3.jpg" class="gallery-image"></img>
</div>
