<div id="contact_page">

  <div id="contact_info">
    <h5>Please contact us or use the form below for more information:</h5>
    <div>
      <h6>Email: properguideimplant@gmail.com</h6>
      <h6>Phone: (510) 517-5355</h6>
    </div>
  </div>

  <div ng-controller="QuestionController as question" id="question_form">

    <h5 style="text-align: center">Submit a question here:</h5>

    <form ng-submit="question.submit(question)">
      <label>Name
        <input type="text" name="name" ng-model="question.name">
      </label>

      <label>Phone
        <input type="text" name="phone" ng-model="question.phone" >
      </label>

      <label>Email
        <input type="email" name="email" ng-model="question.email" oninvalid="this.setCustomValidity('Email cannot be left blank')"
        oninput="setCustomValidity('')" required>
      </label>

      <label>Subject
        <input type="text" name="subject" ng-model="question.subject" oninvalid="this.setCustomValidity('Please enter a subject for your question.')"
        oninput="setCustomValidity('')" required>
      </label>

      <label>Question
      <input type="text" name="text" ng-model="question.text"></input>
      </label>

      <button type="submit" name="button">Submit Question</button>
    </form>
  </div>

</div>
