<!-- <h2>{{home.currentUser ? 'Welcome back, ' + home.currentUser.name : 'Hello, please sign in'}}!</h2> -->

<p>You've reached the website for ProperGuide Implants. Our page is currently under construction. Please check back for more information soon on our exciting new dental implant technique.</p>

<p>Properguide company is lead by professionals who are passionate to help Dentists provide the most accurate and precise procedures to the patients. The ultimate goal is to engage with dentists to provide the necessary resources to perform safe dental procedures.</p>

<img src="../img/stent.jpg" alt="Dentist studying stent">

<p>Properguide lab is more than a dental laboratory because we are in sync with Properguide dentist every step the procedures. Properguide dentists undergo an intensive training to be able to apply the Properguide principles into their everyday practice.</p>

<img src="../img/lecturing.jpg" alt="Dentists training">

<p>The dental industry can be very deceptive from the patients’ perspective and Properguide’s goal is always focused on making sure the Properguide dentist is able to maximize safety with their existing resources.</p>
