<!-- <h2>{{home.currentUser ? 'Welcome back, ' + home.currentUser.name : 'Hello, please sign in'}}!</h2> -->

<div class="featurette" id="goal">
  <div class="featurette-text">
    <h2>Our Goal: <br><span>Safety and Precision</span></h2>
    <p>ProperGuide company is lead by professionals who are passionate to help Dentists provide the most accurate and precise procedures to the patients. Our ultimate goal is to engage with dentists to provide the necessary resources to perform safe dental procedures.</p>
  </div>

  <div class="featurette-image pull-right"></div>
</div>

<hr class="divider">

<div class="featurette" id="role">
  <div class="featurette-text">
    <h2>Our Role: <br><span>Training and Guidance</span></h2>
    <p>ProperGuide lab is more than a dental laboratory because we are in sync with ProperGuide dentists every step of the procedures. ProperGuide dentists undergo an intensive training to be able to apply the ProperGuide principles into their everyday practice.</p>
  </div>

  <div class="featurette-image pull-left"></div>
</div>

<hr class="divider">

<div class="featurette" id="together">
  <div class="featurette-text">
    <h2>Together: <br><span>Quality, Safety, Trust</span></h2>
    <p>The dental industry can be very deceptive from the patients’ perspective and ProperGuide’s goal is always focused on making sure the ProperGuide dentist is able to maximize safety with their existing resources.</p>
  </div>

  <div class="featurette-image pull-right"></div>
</div>
