
<div class="featurette" id="vision">
  <div class="featurette-text">
    <h2>Our Vision: <br><span>Simplicity and Affordability</span></h2>
    <p>We are creating a new technique for the creation of dental implant stent guides. Our technique will make this complicated procedure both faster and far simpler than before. We are excited to offer this service in one location with our current dental offices for a price far lower than what is currently available.</p>
  </div>

  <div class="featurette-image pull-right"></div>
</div>

<hr class="divider">

<div class="featurette" id="experience">
  <div class="featurette-text">
    <h2><span>Our Background</span></h2>
    <p>We have the background and experience to know just what problems you will run into on these procedures. Unlike most labs, we have done these procedures ourselves and are here to support you every step of the way. Check out some images below of cases we've overcome with ProperGuide.</p>
  </div>
</div>

<div id="cases" class="gallery">
  <img src="../img/case1.jpg" alt="Case 1">
  <img src="../img/case2.jpg" alt="Case 2">
  <img src="../img/case3.jpg" alt="Case 3">
  <img src="../img/advancedcase1.jpg" alt="Advanced Case 1">
  <img src="../img/advancedcase2.jpg" alt="Advanced Case 2">
  <img src="../img/advancedcase3.jpg" alt="Advanced Case 3">
</div>

<hr class="divider">

<h2>All products:</h2>

<div id="products" ng-controller="ProductController as products">
  <div class="product" ng-repeat='product in products.all_products'>
    <h3>{{product.name}}</h3>

    <img ng-init="imgsrc=product.image_url" ng-mouseover="imgsrc=product.alt_image"ng-mouseout="imgsrc=product.image_url" ng-src={{imgsrc}}>
  </div>

</div>

<hr class="divider">

<div id="lab_slips">
  <h2>Download or print our lab slips below:</h2>
  <div>
    <iframe src="https://docs.google.com/viewer?srcid=0B2L9hk6gvp57TVRVNmNKNW1yUVk&pid=explorer&efh=false&a=v&chrome=false&embedded=true"></iframe>
    <iframe src="https://docs.google.com/viewer?srcid=0B2L9hk6gvp57em83RU5rTWN5OTg&pid=explorer&efh=false&a=v&chrome=false&embedded=true"></iframe>
  </div>
</div>
