<div class="featurette" id="training">
  <div class="featurette-text">
    <h2>Dental Implant Live Surgery Seminar<br> <span>CE Course - 28 Credits Total</span></h2>
    <p>Registered dentists will perform two surgeries on your own patients with chair side instruction. Participants will learn both the surgical and restorative sides of implant dentistry and will get experience with comprehensive treatment planning and the latest imaging technology. This course is designed to benefit all skill levels and is the perfect opportunity to learn to incorporate implants into your dental practice.</p>
    <h4>Upcoming Dates:</h4>
    <p>2017: 6/26, 7/24, 8/14, 8/28</p>
    <a href="https://drive.google.com/file/d/0B2L9hk6gvp57ZFhqMTVKaXBGR29zNVVIWGV5aE51R3NYazVN/view">Course Outline</a>
  </div>

  <div class="featurette-image pull-right"></div>
</div>

<div id="hiossen_class" class="gallery">
  <img src="../img/hiossen_class2.jpg" alt="">
  <img src="../img/hiossen_class3.jpg" alt="">
  <img src="../img/hiossen_class4.jpg" alt="">
</div>

<hr class="divider">

<div class="featurette" id="community">
  <div class="featurette-text">
    <h2>Community Outreach Opportunity<br> <span>Special Needs Clinic Day - Non CE</span></h2>
    <p>Registered dentists will assist the local community by helping perform cleanings, fillings, and extractions for special needs individuals. These patients are often not able to maintain proper oral hygiene and need extensive restorative work. Due to difficulties in treatment and insuring these patients, dental work is often neglected as well. This volunteer opportunity is a chance to give back and help those most in need.</p>
    <h4>Upcoming Dates:</h4>
    <p>2017: 8/29, 10/24 <br>2018: 1/23, 3/13, 5/1, 6/26, 8/14, 10/23</p>
  </div>

  <div class="featurette-image pull-left"></div>
</div>

<div id="special_needs" class="gallery">
  <img src="../img/special_needs2.jpg" alt="">
  <img src="../img/special_needs3.jpg" alt="">
  <img src="../img/special_needs4.jpg" alt="">
</div>
