<div ng-controller="OrderItemController as order">

  <h3 ng-hide="home.currentUser">Hello, please sign in below to view orders</h3>
  <a ng-hide="home.currentUser" ui-sref="login">Login</a>

  <div ng-show="home.currentUser">
    <h3 ui-sref="orders" class="clickable">Go back to orders</h3>
    <br>

    <h4>Dentist: {{order.details.dentist_name}}</h4>
    <h4>Patient: {{order.details.patient_name}}</h4>
    <h4>Status: {{order.details.order_status.name}}</h4>
    <h4 ng-show="home.currentUser.admin" ng-style="{'background': (order.details.due_date | DueDate)}">Due Date: {{order.details.due_date | date : format : short}}</h4>


    <br>
    <h3>Items in order</h3>
  </div>

<table ng-show="home.currentUser" class="order_list">
    <thead>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th></th>
    </thead>
    <tbody>
      <tr class="order" ng-repeat='order_item in order.items | orderBy: "id"'>
        <td><img src="{{order_item.image_url}}"></td>
        <td>{{order_item.unit_name}}</td>
        <td>{{order_item.unit_price | currency}}</td>
        <td>
          <button ng-if="order.editable" type="button" ng-click="order.update_quantity(order_item, -1)">-</button>
          {{order_item.quantity}}
          <button ng-if="order.editable" type="button" ng-click="order.update_quantity(order_item, +1)">+</button>
        </td>
        <td>{{order_item.total_price | currency}}</td>
        <td><button ng-if="order.editable" type="button" ng-click="order.delete_order_item(order_item)">X</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Shipping<hr>{{order.details.shipping | currency}}</td>
        <td>Subtotal<hr>{{order.details.subtotal | currency}}</td>
        <td>Tax<hr>{{order.details.tax | currency}}</td>
        <td>Total<hr>{{order.details.total | currency}}</td>
      </tr>
    </tbody>
  </table>


  <div ng-controller="ProductController as products" ng-show="home.currentUser">

    <form id="new_item" ng-submit="order.add_order_item(order_item)" ng-if="order.editable">
      <h3>Add New Item</h3>
      <br><br>

      <label>Product ID
        <select ng-model="order_item.product" ng-options="product as product.name for product in products.all_products">
        </select>
      </label>

      <label>Quantity
        <input type="text" name="quantity" ng-model="order_item.quantity" required>
      </label>

      <button type="submit" name="button">Add Item</button>
    </form>

  </div>

  <div ng-show="home.currentUser">
    <br><br>
    <h4 style="text-align:center">To request a change to one of your orders, please contact us at properguideimplant@gmail.com</h4>
  </div>

</div>
