<div ng-controller="OrderItemController as order">

  <h5 ng-hide="home.currentUser">Hello, please sign in below to view orders</h5>
  <a ng-hide="home.currentUser" ui-sref="login">Login</a>

  <div ng-show="home.currentUser">
    <h5 ui-sref="orders" class="clickable">Go back to orders</h5>
    <br>

    <h5>Dentist: {{order.details.dentist_name}}
      <br>Patient: {{order.details.patient_name}}
    </h5>

    <div ng-show="home.currentUser.admin">

      <p>Dentist Notes:
        <br>{{order.dentist.notes}}
      </p>

      <p>Office Name:
        <br>{{order.dentist.office_name}}
      </p>

      <p>Office Address:
        <br>{{order.dentist.address}}
        <br>{{order.dentist.address_city}}, {{order.dentist.address_state}} {{order.dentist.address_zip}}
      </p>

      <br>

      <h5> Status: {{order.details.order_status.name}}</h5>
      <h5 ng-style="{'background': (order.details.due_date | DueDate)}">Due Date: {{order.details.due_date | date : format : short}}</h5>

    </div>

    <br>
    <h6>Instructions:
      <br>{{order.details.instructions}}
    </h6>

    <br>
  </div>

  <div ng-show="home.currentUser">
    <hr class="divider">
    <h5>Items in order</h5>

    <table class="order_list">
      <thead>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </thead>
      <tbody>
        <tr class="order" ng-repeat='order_item in order.items | orderBy: "id"'>
          <td><img src="{{order_item.image_url}}"></td>
          <td>{{order_item.unit_name}}</td>
          <td>{{order_item.unit_price | currency}}</td>
          <td>
            <button ng-if="order.editable" type="button" ng-click="order.update_quantity(order_item, -1)">-</button>
            {{order_item.quantity}}
            <button ng-if="order.editable" type="button" ng-click="order.update_quantity(order_item, +1)">+</button>
          </td>
          <td>{{order_item.total_price | currency}}</td>
          <td><button ng-if="order.editable" type="button" ng-click="order.delete_order_item(order_item)">X</button></td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <td>Shipping</td>
          <td>Subtotal</td>
          <td>Tax</td>
          <td>Total Cost</td>
          <td>Pay Recieved</td>
          <td>Balance</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{order.details.shipping | currency}}</td>
          <td>{{order.details.subtotal | currency}}</td>
          <td>{{order.details.tax | currency}}</td>
          <td>{{order.details.total | currency}}</td>
          <td>{{order.pay_received | currency}}</td>
          <td>{{order.amount_due | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-controller="ProductController as products" ng-show="home.currentUser">

    <form id="new_item" ng-submit="order.add_order_item(order_item)" ng-if="order.editable">
      <h3>Add New Item</h3>
      <br><br>

      <label>Product ID
        <select ng-model="order_item.product" ng-options="product as product.name for product in products.all_products">
        </select>
      </label>

      <label>Quantity
        <input type="text" name="quantity" ng-model="order_item.quantity" required>
      </label>

      <button type="submit" name="button">Add Item</button>
    </form>

  </div>

  <form ng-submit="order.update_order(order.details.id)" ng-show="home.currentUser.admin" id="order_update">
    <h4>Order Details</h4>
      <button type="button" ng-click="order_edit=true" ng-hide="order_edit">Update Details</button>
    <br>

    <div ng-show="order_edit">

      <label>New Due Date
        <input type="date" ng-model="order.new_due_date">
      </label>

      <label>New Status
        <select ng-model="order.new_status" ng-options="status as status.name for status in order.all_statuses">
        </select>
      </label>

      <button type="submit" name="button">Update Details</button>
    </div>

  </form>

  <h4 style="color:red; text-align: center">{{auth.flash}}</h4>

  <div ng-show="home.currentUser">
    <br><br>
    <h4 style="text-align:center">To request a change to one of your orders, please contact us at properguideimplant@gmail.com</h4>
  </div>

</div>
