<div ng-controller="OrderItemController as order">

  <div ng-show="currentUser">

    <!-- Details for specific order with some extra details show if user is admin -->
    <div>
      <h5 ui-sref="orders" class="clickable">Go back to orders</h5>
      <br>

      <h5>Dentist: {{order.details.dentist_name}}
        <br>Patient: {{order.details.patient_name}}
      </h5>

      <div ng-show="home.currentUser.admin">

        <p>Dentist Notes:
          <br>{{order.dentist.notes}}
        </p>

        <p>Office Name:
          <br>{{order.dentist.office_name}}
        </p>

        <p>Office Address:
          <br>{{order.dentist.address}}
          <br>{{order.dentist.address_city}}, {{order.dentist.address_state}} {{order.dentist.address_zip}}
        </p>

      </div>

      <br>

      <h5> Status: {{order.details.order_status.name}}</h5>
      <h5 ng-style="{'background': (order.details.due_date | DueDate)}">Due Date: {{order.details.due_date | date : format : short}}</h5>

      <br>

      <h6>Please allow for 7 business days in-lab turnaround and 2 days for shipping and handling.</h6>

      <br>

      <h6>Instructions:
        <br>{{order.details.instructions}}
      </h6>

      <br>
    </div>

    <!-- Table showing details for all items in the active order -->
    <div>
      <hr class="divider">
      <h5>Items in order</h5>

      <table class="order_list">
        <thead>
          <th></th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th></th>
        </thead>
        <tbody>
          <tr class="order" ng-repeat='order_item in order.items | orderBy: "id"'>
            <td><img src="{{order_item.image_url}}"></td>
            <td>{{order_item.unit_name}}</td>
            <td>{{order_item.unit_price | currency}}</td>
            <td>
              <button ng-if="order.editable" type="button" ng-click="order.update_quantity(order_item, -1)">-</button>
              {{order_item.quantity}}
              <button ng-if="order.editable" type="button" ng-click="order.update_quantity(order_item, +1)">+</button>
            </td>
            <td>{{order_item.total_price | currency}}</td>
            <td><button ng-if="order.editable" type="button" ng-click="order.delete_order_item(order_item)">X</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Form to add a new item to this order, only visible if user is admin and order is in-progress or 'received' -->
    <div ng-controller="ProductController as products" ng-if="order.editable">

      <button ng-click="new_item=!new_item" ng-show="home.currentUser.admin" style="text-align:center" class="clickable button button-primary">Add item to order</button>

      <form id="new_item" ng-show="new_item" ng-submit="order.add_order_item(order_item)" >

        <label>Product Name
          <select ng-model="order_item.product" ng-options="product as product.name for product in products.all_products | filter : {'active': true}">
          </select>
        </label>

        <label>Quantity
          <input type="text" name="quantity" ng-model="order_item.quantity" required>
        </label>

        <button type="submit" name="button">Add Item</button>
      </form>

    </div>

    <!-- Form to update due date and status of order -->
    <div ng-show="currentUser.admin">
      <button ng-click="order_edit=!order_edit" ng-show="home.currentUser.admin" style="text-align:center" class="clickable button">Update order details</button>

      <form ng-submit="order.update_order()"  id="order_update" ng-show="order_edit">
          <label>New Due Date
            <input type="date" ng-model="order.new_due_date">
          </label>

          <label>New Status
            <select ng-model="order.new_status" ng-options="status as status.name for status in order.all_statuses">
            </select>
          </label>

          <label>Tax Exempt Order
            <input type="checkbox" ng-model="order.details.tax_exempt">
          </label>

          <button type="submit" name="button">Update Details</button>
      </form>

      <h5 style="color:red; text-align: center; margin: 0;">{{auth.flash}}</h5>
    </div>

    <!-- Table showing payments received so far -->
    <div>
      <hr class="divider">
      <h5>Payments Received for Order</h5>

      <table>
        <thead>
          <tr>
            <td>Date</td>
            <td>Description</td>
            <td>Amount</td>
          </tr>
        </thead>
        <tbody>
          <tr class="order" ng-repeat='payment in order.payments | orderBy: "created_at"'>
            <td>{{payment.created_at | date : 'short'}}</td>
            <td>{{payment.description}}</td>
            <td>{{payment.amount | currency}}</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <td>Shipping</td>
            <td>Subtotal</td>
            <td>Tax</td>
            <td>Total Cost</td>
            <td>Pay Recieved</td>
            <td>Balance</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{order.details.shipping | currency}}</td>
            <td>{{order.details.subtotal | currency}}</td>
            <td>{{order.details.tax | currency}}</td>
            <td>{{order.details.total | currency}}</td>
            <td>{{order.details.pay_received | currency}}</td>
            <td>{{order.details.pay_due | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Form to submit a CC payment -->
    <hr class="divider">
    <h5>Make a New Payment</h5>

    <div id="cc_payment" ng-show="accept_payments">

      <div id="dropin-container"></div>

      <div id="submit_payment">
        <form ng-submit="order.checkout(payment)">

            <label>Charge Full Amount
              <input type="checkbox" ng-init="payment.charge_full = true" ng-model="payment.charge_full">
            </label>

            <label ng-hide="payment.charge_full">Amount to charge to card
              <input type="text" placeholder="50" ng-model="payment.charge_amount">
            </label>

            <button type="submit" class="button-primary">Use This Card</button>
            <p style="text-align:center;">Click button only once to charge selected card</p>

        </form>
      </div>
    </div>

    <!-- Form to manually enter payment (cash/check) for record keeping purpose only -->
    <div id="check_payment" ng-show="currentUser.admin">
      <button ng-click="new_payment=!new_payment" style="text-align:center" ng-show="accept_payments" class="clickable button button-primary">Add check payment</button>

      <form id="new_payment" ng-show="new_payment" ng-submit="order.add_payment(payment)" >

        <label>Amount
          <input type="text" ng-model="payment.amount" required>
        </label>

        <label>Description
          <input type="text" ng-model="payment.description" placeholder="Check 1134/Cash" required>
        </label>

        <button type="submit" name="button">Add Payment</button>
      </form>
    </div>

    <div style="text-align:center">
      <br><br>
      <h6>To request a change to one of your orders, please contact us at properguideimplant@gmail.com</h6>
      <a ui-sref="refund">Refund Policy</a>
      <br><br>
    </div>

  </div>

</div>
